{% extends "/admin/master.html" %} {% block heading %} Edit Customer {% endblock
%} {% block button %}
<a href="/admin/customer" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Back</a>
{% endblock %} {% block content %}
<form class="container-lg" method="POST" action="/admin/customer/edit">
  <input type="hidden" name="id" value="{{id}}">
  <div class="row">

      <div class="col-sm-12">
          <div class="form-group">
              <label>Customer Name</label>
              <input id="name" type="text" class="form-control" name="name" value="{{ customer[1] }}" placeholder="Enter ..." />
          </div>
      </div>
      <div class="col-sm-12">
          <div class="form-group">
              <label>Profile URL</label>
              <input id="name" type="text" class="form-control" name="profile_url" value="{{ customer[2] }}" placeholder="Enter ..." />
          </div>
      </div>
      <div class="col-sm-12">
          <div class="input-group">
              <div class="custom-control custom-checkbox mr-sm-2 mb-3 float-right">
                  <input type="checkbox" class="custom-control-input" name="status" {{ 'checked' if customer[3]==1 else '' }} id="customControlAutosizing">
                  <label class="custom-control-label" for="customControlAutosizing">Active</label>
              </div>
          </div>
      </div>
    <div class="col-sm-12 mt-5">
      <button type="submit" class="btn btn-primary float-right">
        <i class="fas fa-save"></i> Save
      </button>
      <button type="button" class="btn btn-danger float-right mr-2" id="btnClear" onclick="clear()">
        <i class="fas fa-trash"></i> Clear
      </button>
    </div>
  </div>
</form>

{% endblock %}